*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(210, 216, 214);
}
main
{
   
    border: 2px solid black;
    height: 550px;
    width: 800px;
    border-radius: 25px;
    border: none;
    background-color: rgb(78, 227, 178);
    text-align: center;
    box-shadow: 2px 2px 2px black;
}
.container-1
{
    margin-top: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */
}
.sub-container-1
{
    /* border: 2px solid black; */
    height: 300px;
    width: 350px;
    margin: 20px;
    text-align: center;
    border-radius: 15px;
    padding-top: 10px;
    background-color: aquamarine;
    border: none;
}

div > h2
{
    font-size: 5rem;
    padding-top: 10%;
    color: rgb(101, 117, 112);
   
}
div > button
{
    width: 80px;
    height: 30px;
    margin: 5px;
    /* margin-top: 20%; */
    border-radius: 3px;
    border: none;
    background-color: rgb(86, 157, 134);
    color: white;
    font-size: 15px;
}
.point:active
{
    background-color: rgb(24, 216, 152);
}

#EndBtn
{
    width: 25%;
    height: 10%;
    /* border: 2px solid black; */
    margin-left: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#End
{
    font-size: 19px;
    height: 55px;
    width: 150px;
    margin-top: 22px;
}
#submit1:active
{
    background-color: rgb(160, 179, 179);
    color: rgb(164, 214, 198);
}
#submit2:active
{
    background-color: rgb(160, 179, 179);
    color: rgb(164, 214, 198);
}
#result
{
    font-size: 3rem;
    margin-top: 29px;

}
#title
{
    
    font-size: 25px;
    margin-top: 15px;
    color: rgb(17, 90, 65);
}